.wrap{
    padding: 1em;
  }
  button{
    font-size: 22px;
  }
  .lottery-nums{
    overflow: hidden;
    width: 600px;
  }

  .lottery-nums > div{
    display: block; float: left;
    width: 25px; height: 25px;
    border: 1px solid #999;
    background-color: #fff;
    color: #555;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .lottery-nums .selected{
    background-color: green;
    color: #fff;
  }

  .lottery-nums .highlight{
    background-color: red;
    color: #fff;
  }

  .lottery-nums .selected.highlight{
    background-color: yellow;
    color: #333;
  }

  .circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background: #f00;
    color: #fff;
  }